<!-- Toast -->
<% if flash[:notice].present? %>
    <div class="flex justify-center">
        <div class="absolute max-w-xs bg-gray-800 text-sm text-white rounded-xl shadow-lg dark:bg-neutral-900" role="alert">
            <div class="flex p-4">
                <%= flash[:notice] %>

                <div class="ml-4">
                <%= link_to 'X', home_path, class:"inline-flex flex-shrink-0 justify-center items-center size-5 rounded-lg text-white hover:text-white opacity-50 hover:opacity-100 focus:outline-none focus:opacity-100"%>
                </div>
            </div>
        </div>
    </div>
<% end %>
<!-- End Toast -->


<p> Welcome </p>

<% if user_signed_in? %>
    <p>Current User: <%= current_user.first_name %> <%= current_user.last_name %></p>
    <p>Account Id in session: <%= session[:account_id]%></p>
    <p>Current account: <%= current_account.name %></p>
    <p>Total accounts: <%= current_user.accounts.count %></p>
<% else %>
    <p>No user signed in.</p>
    <p>Account Id in session: 
        <% if session[:account_id] %>
            <%= session[:account_id] %>
        <% else %>
            nil
        <% end %>
    </p>
    <%= link_to 'Login', new_user_session_path, class: "login-button" %>
<% end %>