<p> Welcome </p>

<% if user_signed_in? %>
    <p>Current User: <%= current_user.first_name %> <%= current_user.last_name %></p>
    <p>Account Id in session: <%= session[:account_id]%></p>
    <p>Current account: <%= current_account.name %></p>
    <p>Total accounts: <%= current_user.accounts.count %></p>
    <p>User agent: <%= Current.user_agent %></p>
    <p>IP address: <%= Current.ip_address %></p>
    <p>Request id: <%= Current.request_id %></p>
<% else %>
    <p>No user signed in.</p>
    <p>Account Id in session: 
        <% if session[:account_id] %>
            <%= session[:account_id] %>
        <% else %>
            nil
        <% end %>
    </p>
    <%= link_to 'Login', new_user_session_path, class: "login-button" %>
<% end %>
