<!DOCTYPE html>
<html>
  <head>
    <title>Bms</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
    <%# <script src="./node_modules/preline/dist/preline.js"></script> %>
  </head>

  <body>
    <% if user_signed_in? %>
      <div>
        <%= render partial: "shared/header" %>
      </div>
      <div class="absolute top-0 left-0 w-64 h-full">
        <%= render partial: "shared/sidebar"%>
      </div>
      <div class="flex-grow ml-64 bg-white p-5">
        <%= yield %>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
